.radio-custom {
  @apply bg-white border border-solid border-gray-200 px-2 py-1.5 text-black text-sm font-semibold block text-center;
}
input[type="radio"] {
  @apply mr-2 absolute opacity-0;
  &:checked {
    ~ .radio-custom {
      @apply border-primary-700 text-primary-600;
    }
  }
}

.checkbox-custom {
  @apply absolute top-0 left-0 w-5 h-5 bg-white border border-solid border-gray-400;
}
input[type="checkbox"] {
  @apply mr-2 absolute opacity-0;
  &:checked {
    ~ .checkbox-custom:after {
      @apply block;
    }
  }
}
